*{
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 230, 232);
}
nav{
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
}
.heading1{
    font-size: 60px;
    font-weight: 500;
    color: black;
}

.sec1{
    opacity: .2;

}

.h1_sect1{
font-size: 5em;
font-weight: 600;
}
.mb-5{
    font-size: 5em;
font-weight: 600;
}

.h2_sect1{
    font-size: 2em;
    font-weight: 600;
}

span{
    color: rgb(203, 190, 37);
} 
.opac{
    opacity: 80;
}

.btn{
    color: white;
    background-color: rgb(203, 190, 37);
    border-radius: 0%;
}